@keyframes btnEditDelete {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
.noOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 5rem;
  gap: 2rem;
  height: 50vh;
}
.noOrder img {
  width: 45%;
  border-radius: 3rem 0rem 0rem 2rem;
}
.cart-container {
  width: 100%;
  padding: 1rem;
  background-color: #eee;
}
.cart-container .cart {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: #fff;
  border-radius: 2rem;
  position: relative;
}
.cart .left-side {
  flex-basis: 70%;
}
.left-side .cart-header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.left-side .cart-header h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.cart-header .cart-title {
  display: flex;
  justify-content: space-between;
}
.cart-title h6 {
  font-size: 1rem;
}
.cart-title .btn-group {
  display: flex;
  gap: 0.5rem;
}
.cart-title .btn-group .total {
  display: none;
}
.cart-header .search {
  display: flex;
  width: 100%;
  background-color: #eee;
  border-radius: 2rem;
}
.search input {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 2rem;
  color: #666;
}
.cart-header .search .btn {
  background-color: #eee;
  color: #000;
  border-radius: 2rem;
}
.cart .cards {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.9rem;
}
.cards .card {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.9rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 1rem;
  border-bottom: 2px dashed #000;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
}
.cards .card:hover {
  box-shadow: none;
  border: none;
}
.cards .card img {
  width: 170px;
  border-radius: 1rem 0rem 0rem 1rem;
}
.cards .card .card-body {
  /* width: 100%; */
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
}
.card-body .card-title {
  display: flex;
  flex-direction: column;
}
.card-body .edit-delete {
  display: flex;
  align-items: flex-start;
  gap: 0.9rem;
}
.card-title p {
  border-bottom: 2px dashed #000;
  padding-bottom: 0.3rem;
}
.card-title .price,
.quantity,
.brand,
.category {
  display: flex;
  justify-content: space-between;
  gap: 0.9rem;
  margin-top: 0.5rem;
}
.cart .right-side {
  flex-basis: 30%;
}
.cart .show {
  display: block;
}
.cart .none {
  display: none;
}
.right-side .totalQtyAmt {
  background-color: #eee;
  padding: 1rem;
  border-radius: 1rem;
}

.right-side .totalQtyAmt .total {
  display: flex;
  gap: 0.9rem;
  flex-direction: column;
}
.right-side .totalQtyAmt .total h2 {
  margin-bottom: 0.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 2px dashed #000;
}
.totalQtyAmt .total .totalQty,
.totalQtyAmt .total .totalAmt {
  display: flex;
  justify-content: space-between;
}
.btn-white {
  border-radius: 2rem;
  background-color: #fff !important;
  color: #000 !important;
  animation: btnEditDelete 0.3s infinite ease-in-out;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.2s;
}
.btn-white:hover {
  /* border: 2px dashed #000; */
  transition: all 0.2s;
  animation: none;
}
.btn-liteBlack {
  border-radius: 2rem;
  background-color: #eee !important;
  color: #000 !important;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 980px) {
  .cards .card img {
    width: 150px;
  }
  .cards .card .card-title {
    width: 100%;
  }
  .card-body .edit-delete {
    flex-direction: column-reverse;
  }
}
@media (max-width: 830px) {
  .cart .left-side {
    flex-basis: 100%;
  }
  .cart .right-side {
    position: absolute;
    top: -100vh;
    right: 5%;
    width: 90%;
    transition: all.3s;
    opacity: 1;
  }
  .show-right-side {
    top: 9rem !important;
    opacity: 0;
  }
  .cards .card {
    padding: 1rem;
    flex-direction: column;
    width: 48%;
  }
  .cards .card img {
    width: 100%;
  }
  .cards .card .card-body {
    flex-direction: column;
  }
  .cards .card .card-title {
    width: 100%;
  }
  .card-body .edit-delete {
    flex-direction: row;
  }
  .cart-title .btn-group .total {
    display: inline-block;
  }
}
@media (max-width: 700px) {
  .card-body .price {
    display: none;
  }
  .noOrder img {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .cards .card {
    width: 100%;
  }
  .cart-header .cart-title {
    flex-direction: column;
    gap: 0.3rem;
  }
  .cards .card .card-body {
    width: 100%;
  }
}
